/* 
  Styles for glosses.

 */

$activeGlossFinalColor: rgba(58, 87, 133, 0.2);
$activeGlossAlternateColor: rgba(0, 99, 255, 0.2);

 @keyframes slideInFromLeft {
   0% {
     background: $activeGlossAlternateColor;
   }
   20% {
     background: $activeGlossFinalColor;
   }
   40% {
     background: $activeGlossAlternateColor;
   }
   60% {
     background: $activeGlossFinalColor;
   }
   80% {
     background: $activeGlossAlternateColor;
   }
   100% {
     background: $activeGlossFinalColor;
   }
 }
 
.glosses {
  .textual,.contextual {
    
    a+span {
      // background-color: red;
      // transition: none;
      
    }
    
    a.active+span {
      display: block;
      
      // background-color: green;
      // transition: background-color linear 2s;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      
      
      
      // background-color: pink;
      background-color: $activeGlossFinalColor;
      border: 1px solid black;
      border-radius: 25px;
      
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
  }
}