NODE_ENV=development
NPM_CONFIG_LOGLEVEL=warn
NPM_CONFIG_PRODUCTION=false
NODE_MODULES_CACHE=false
PORT=9001
DEBUG=*,-babel,-koa*,-css-modules*,-engine*,-socket.io*,-mocha*

DB_UPDATE_PASSWORD=abcdefgh
SERVER_BASE_URL="http://english.selu.edu/humanitiesonline/ruskin"
DB_CONN_STRING="mongodb://localhost/ruskin"
XML_PATH="../_xml"
