@import '~vars';
@import '~tao-scss/index';

.app {
  color: $font-color;
  font: {
    size: rem(17px);
  }
}

.content {
  //padding: rem(5px);
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 3em;
}
