// placeholder file
@import '~vars';
@import '~tao-scss/index';

$body-colour: #444;
$link-active-color: #06c;
$link-color: #036;
$side-nav-width: 170px;
$font-size: 13px;

body {
  color: $body-colour;
  font-family: Andron, Arial, sans-serif;
  font-size: $font-size;

  a {
    text-decoration-color: #aaaaaa;
    text-decoration-style: dotted;
  }
}

.SearchItem{
  background: #eee;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin: 16px;

  .title>strong {
    font-weight: bold;
    font-size: large;
    color: #609;
  }

  .docTypeContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .text{
    font-style: italic;
  }
}

.SideNavigation {
  color: $link-color;
  float: left;

  width: $side-nav-width;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;

  padding: 0 1.5% 1.5% 1.5%;

  .brand img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

  }

  .navigationTitle {
    font-size: 1.4em;

    .navigationDate {
      font-size: smaller;
    }
  }

  .navigationEditor {
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .navigationTitle>.navigationDate, .navigationEditor, .navItems {


  }

  .navItems {
    &>a{
      display: block;
      font-weight: bold;
      line-height: 1.5em;
    }

    /* TODO fix active link colors */

    &>a.active, &>a.active:link{
      color: $link-active-color;
    }
    &>a:visited(.active), &>a:not(.active){
      color: $link-color;
    }
    &>a.firstLevel{
      font-weight: bold;
    }
  }

}

.QuickSearchBox {
  input {
    width: 50%;
    margin-right: 10%;
  }
  .advancedSearchBox {
    padding-left: 10px;
  }

  margin-bottom: 10px;
}

.SearchBox {
  $first-box-width: 35%;
  $second-box-width: 20%;
  $third-box-width: 45%;

  .firstBox, .secondBox, .thirdBox {
    height: 4em;
  }

  fieldset{
    padding-left: 10%;
    padding-right: 8%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .firstBox {
    background: aqua;

    &>#searchText {
      display: block;
      width: 100%;
    }
    width: $first-box-width;
    float: left;
  }

  .secondBox {
    width: $second-box-width;
    float: left;
    background: #8e7f7f;
    text-align: center;
  }

  .thirdBox {
    width: $third-box-width;
    background: greenyellow;
    float: left;

    label[for="searchIn"] {
      display: block
    }

    label[for="docType"], label[for="subDocType"]{
      display: inline-block;
    }
  }

}
main {
  margin-left: $side-nav-width;

}
