@charset "UTF-8";

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import '~vars';
@import '~tao-scss/index';
@import '~components/fonts';

$header-color: #fff;

body {
  color: $body-color;
  font-family: Andron, Arial, sans-serif;
  font-size: $font-size;
  line-height: $font-size*1.3;

  a {
    //text-decoration-color: #aaaaaa;
    //text-decoration-style: dotted;
    text-decoration: none;
  }

  a, a:link, a:visited{
    color: $link-color;
  }

  a:hover, a.active:link{
    color: $link-active-color;
  }

  .highlighted {
    background-color: $highlight-color;
    font-weight: bold;
    padding: 3px;
  }
}

.SearchItem{
  background: #eee;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin: 16px;

  .title {
    font-weight: bold;
    font-size: large;
    color: #609;
  }

  .docTypeContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .text{
    font-style: italic;
  }
}

//.SideNavigation {
//  color: $link-color;
//  float: left;
//
//  width: $side-nav-width;
//
//  position: fixed;
//  top: 0;
//  left: 0;
//  height: 100%;
//  overflow-y: scroll;
//  overflow-x: hidden;
//
//  padding: 0.9% 1.5% 1.5% 1.5%;
//
//  .brand {
//    img {
//      width: 100%;
//      margin-top: 1em;
//      margin-bottom: 1em;
//    }
//
//    width: 10em;
//    float: left;
//
//  }
//
//  .navigationTitle {
//    font-size: 1.4em;
//    line-height: 1.1em;
//
//    .navigationDate {
//      font-size: small;
//    }
//  }
//
//  .navigationEditor {
//    margin-bottom: 2em;
//    margin-top: 1em;
//  }
//
//  .navigationTitle>.navigationDate, .navigationEditor, .navItems {
//
//
//  }
//
//  .navItems {
//    &>a{
//      display: block;
//      font-weight: bold;
//      line-height: 1.5em;
//    }
//
//    /* TODO fix active link colors */
//
//    &>a.firstLevel{
//      font-weight: bold;
//    }
//  }
//
//}

div.QuickSearchBox {
  float: right;
  width: 30%;
  display: block;

  input {
    width: 50%;
    margin-right: 10%;
  }
  .advancedSearchBox {
    a{
      color: $header-color;
    }
    padding-left: 10px;
  }

  margin-bottom: 10px;
}

.SearchBox {
  $first-box-width: 35%;
  $second-box-width: 20%;
  $third-box-width: 45%;

  .firstBox, .secondBox, .thirdBox {
    height: 4em;
  }

  fieldset{
    padding-left: 10%;
    padding-right: 8%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .firstBox {
    //background: aqua;

    &>#searchText {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    width: $first-box-width;
    float: left;

    #fullTextChecked {
      margin-right: 6px;
    }
  }

  .secondBox {
    width: $second-box-width;
    float: left;
    //background: #8e7f7f;
    text-align: center;
  }

  .thirdBox {
    width: $third-box-width;
    //background: greenyellow;
    float: left;
    line-height: 1.5em;

    label {
      margin: 4px;
    }

    label[for="searchIn"] {
      display: block
    }

    label[for="type"], label[for="subType"]{
      display: inline-block;
    }
  }

  .error {
    color: #e82929;
    margin-top: -.5em;
    margin-bottom: .2em
  }

}

.UpdateDbRoute {
  .logs-holder :nth-child(even) {
    background: #ececec;
  }
  .logger-row {
    padding: 2px;

    &.level-WARNING {
      color: orange;
    }
    &.level-INFO {
      color: blue;
    }
    &.level-ERROR {
      color: red;
    }
    &.level-FATAL {
      font-weight: bold;
      color: red;

    }
  }
}
main {
  //margin-left: $side-nav-width;

  padding-left: 10em;
  padding-right: 10em;
  padding-top: 3em;

}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

.HeadNavigation {
  .navbar-brand {
    img {
      height: 3em;
    }
  }

}
